@-webkit-keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
:root {
  --header-bg: rgba(20, 20, 20, 0.5);
  --body-bg: rgba(20, 20, 20, 1);
  --footer-bg: rgba(20, 20, 20, 1);
}

header {
  background-color: var(--header-bg);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dcdcdc;
}

footer {
  background-color: var(--footer-bg);
}

.slide-up {
  -webkit-animation: slideUp 0.3s ease-out;
          animation: slideUp 0.3s ease-out;
}
