@import "variables";
@import "animations";
@import "slider";

header {
    background-color: var(--mv-body-bg);
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--mv-body-bg);
}
footer {
    background-color: var(--mv-bg1);
}

.slide-up {
    animation: slideUp 0.3s ease-out;
}
